{% extends 'task_manager_app/base.html' %}

{% block title %}Listado de Tareas Pendientes{% endblock %}

{% block content %}
    <h1>Listado de Tareas</h1>
    <form method="get" class="mb-4">
        {{ form }}
        <button type="submit" class="btn btn-primary">Filtrar</button>
        <a href="{% url 'task_manager_app:task_list' %}" class="btn btn-secondary ml-2">Limpiar Filtros</a>
    </form>
    <a href="{% url 'task_manager_app:task_create' %}" class="btn btn-primary mb-2">Agregar Tarea</a>
    {% if request.user.is_superuser %}
        <a href="{% url 'task_manager_app:assign_task' %}" class="btn btn-primary mb-2">Asignar Tarea</a>
        <a href="{% url 'task_manager_app:assigned_tasks' %}" class="btn btn-primary mb-2">Tasks Otorgadas</a> <!-- Enlace para superusuarios -->
    {% endif %}
    <h2>Tus Tareas Pendientes</h2>
    <ul>
        {% for task in tasks %}
            <li>{{ task.title }} - {{ task.due_date }} <a href="{% url 'task_manager_app:task_detail' task.id %}">Ver</a></li>
        {% endfor %}
    </ul>
    {% if not request.user.is_superuser %}
        <h2>Tareas Asignadas a Ti</h2>
        <ul>
            {% for task in assigned_tasks %}
                <li>Titulo y prioridad tarea: {{task.priority}} - Fecha limite: {{ task.due_date }} - Asignada por: {{ task.user.username }} : <a href="{% url 'task_manager_app:task_detail' task.id %}">Ver</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
