{% extends 'task_manager_app/base.html' %}

{% block title %}Detalle de Tarea{% endblock %}

{% block content %}
    <h1>Detalle de Tarea</h1>
    <p>Título: {{ task.title }}</p>
    <p>Descripción: {{ task.description }}</p>
    <p>Fecha de Vencimiento: {{ task.due_date }}</p>
    <p>Estado: {{ task.state }}</p>
    <p>Etiqueta: {{ task.label }}</p>

    <form method="post">
        {% csrf_token %}
        <label for="observations">Observaciones:</label>
        <textarea name="observations" id="observations">{{ task.observations }}</textarea>
        
        <!-- Agregar el campo para la prioridad -->
        <label for="priority">Prioridad:</label>
        <select name="priority" id="priority">
            <option value="baja" {% if priority and priority.priority == 'baja' %}selected{% endif %}>Baja</option>
            <option value="media" {% if priority and priority.priority == 'media' %}selected{% endif %}>Media</option>
            <option value="alta" {% if priority and priority.priority == 'alta' %}selected{% endif %}>Alta</option>
        </select>
        
        {% if not task.assigned_to or request.user == task.user %}
        <div class="mt-3">
            <button type="submit" class="btn btn-sm btn-primary" >Guardar Observaciones y Prioridad</button>
        </div>
        {% endif %}
    </form>

    {% if not task.assigned_to or request.user == task.user %}
        <div class="mt-3">
            <a href="{% url 'task_manager_app:task_edit' task.pk %}" class="btn btn-sm btn-primary">Editar</a>
            <a href="{% url 'task_manager_app:task_delete' task.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
            <a href="{% url 'task_manager_app:task_complete' task.pk %}" class="btn btn-sm btn-success">Completar</a>
        </div>
    {% endif %}
    <div class="mt-3">
        <a href="{% url 'task_manager_app:task_list' %}" class="btn btn-sm btn-secondary">Volver al Listado</a>
    </div>
{% endblock %}
